/*
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:400,700');
*{}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
header{
    background: #f5f7fa;
    box-shadow: 0 2px 1px 0px #e6e9ed;
}
.top-address{}
.top-address li{
    font-size: 14px;
    color: #8494a6;
    padding-right: 30px;
}
.top-address li i{
    padding-right: 10px;
}
.social{}
.social li{}
.social li a{
    
    color: #72879d;
     padding: 0;
    font-size: 16px;
    transition:all .5s ease;
}
.social li a:hover{
    color:#fff;
/*        color: #506a85;*/
}
.social li a i{
    line-height: 40px;
    padding: 0 10px 0 10px;
}
i.fab.fa-facebook-f:hover {
   padding: 0 10px 0 10px;
    line-height: 40px;
    background: #4668b3;
}
i.fa-google-plus-g:hover {
    line-height: 40px;
    padding: 0 10px;
    background: #de5745;
}
i.fa-twitter:hover {
    line-height: 40px;
    padding: 0 10px;
    background: #2fbbed;
}
i.fa-pinterest:hover {
    line-height: 40px;
    padding: 0 10px;
    background: #d94348;
}
i.fa-behance:hover {
    line-height: 40px;
    padding: 0 10px;
    background: #3079ff;
}
i.fa-dribbble:hover {
    line-height: 40px;
    padding: 0 10px;
    background: #eb6397;
}

/*navbar*/
.navbar{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.navbar-brand{
    margin-right: 62px;
}
.navbar-brand img{}
.navbar-toggler{
    background-color: transparent;
    border: 1px solid #506a85;
    border-radius: 0;
    transition:all .5s ease;
}

.navbar-toggler span{
    color:#506a85;
    transition:all .5s ease;
}
.navbar-toggler:hover{
    background-color: #506a85;
    border: 1px solid #fff;
}
.navbar-toggler:hover span{
    color:#fff;
}
.navbar-nav{}
.navbar-nav{}
.navbar-nav li{}
.navbar-nav li a{
    font-size: 15px;
    color: #506a85;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    
    transition: all 0.4s ease;
    -webkit--webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.navbar-nav li a:hover{
    background: #f5f7fa;
    color:#21c0a2;
    box-shadow: 0 3px 5px 0px #ddd;
    border: 0;
    border-radius: 1px;
}
.navbar .dropdown{
    transition: all 0.4s ease;
}
.navbar .dropdown a{}
.navbar .dropdown a i{
    color: #5a728c;
    font-size: 16px;
}
.navbar .dropdown .dropdown-menu{
    left: auto;
    padding: 0;
    border: none;
    right: 0;
}
.navbar .dropdown .dropdown-menu form{}
.navbar .dropdown .dropdown-menu input{}
.dropdown-toggle::after{
    content:none;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
}
.form-control::-webkit-input-placeholder {
    color: #00c897;
}
.form-control::-moz-input-placeholder {
    color: #00c897;
}
.form-control::input-placeholder {
    color: #00c897;
}

/*carousel-indicators*/
.carousel-indicators{
    max-width: 150px;
    margin: 0 auto;
    background: #fff;
    bottom: -15px;
   transition:all .5s ease;
    opacity: 0;
}
.carousel-indicators .active {
    background: #00bc9c;
}
.carousel-indicators li{
    background: #506a85;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 0;
    border-radius: 50%;
    margin: 10px 5px;
}
.carousel:hover .carousel-indicators {
    opacity: 1;
}
.carousel-inner .carousel-item {}
.carousel-inner .carousel-item img{}
.carousel-inner .carousel-item .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-inner .carousel-item .carousel-caption h5{
    font-size: 74px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.carousel-inner .carousel-item .carousel-caption p{
    font-size: 24px;
    color: #a3b1bf;
    line-height: 1.4;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}
.carousel-caption-text-2 p{
    max-width: 770px;
    float:right;
    color: #ffffffb8 !important;
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
}
.carousel-caption-text-3 h5{
    background: #506a85 !important;
    display: inline-block !important;
    padding: 5px 15px 0 15px;
    font-size: 65px !important;
}
.carousel-caption-text-3 p{
    color: #506a85 !important;
    max-width: 670px;
    padding-top: 15px;
}
.carousel-caption-text-4{
    bottom: 60% !important;
}
.carousel-caption-text-4 h5{
    background: #506a85;
    display: inline-block !important;
    padding: 5px 15px 0 15px;
    font-size: 65px !important;
    margin: 2px 0;
}
.carousel-caption-text-4 p{
    color: #fff !important;
    max-width: 670px;
    margin-left: auto;
    font-size: 22px !important;
    padding-top: 20px;
}
.carousel-caption-text-5{
    bottom: 65% !important;
}
.carousel-caption-text-5 h5{
    font-size: 60px !important;
}
.carousel-caption-text-5 p{
    color: #fff !important;
    max-width: 600px;
    margin:0 auto;
    font-size: 20px !important;
    padding-top: 10px;
}

/*btn-custom{}*/
.btn-custom{
    background: #00bc9c;
    text-transform: uppercase;
    padding: 12px 45px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 4px 0 0px #00a085;
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    margin: 25px 0 0 0;
}
.btn-custom:hover{
    background: #00a085;
    color: #fff;
    box-shadow: 0px 4px 0 0px #00bc9c;
}

/*features-section*/
.features-section{
    background: #fff;
    padding: 90px 0;
}
/*heading*/
.heading{text-align: center;padding: 40px 0;}
.heading h1{
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #506a85;
}
.heading p{
    font-size: 20px;
    color: #73879c;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;
}
.feature{}
.feature i{
    font-size: 38px;
    color: #00bc9c;
    padding: 3px 0;
}
.feature h1{
    font-weight: 700;
    font-size: 26px;
    font-family: lato;
    color: #506a85;
}
.feature p{
}

/*works-section*/
.works-section{
    background: #f2f5f7;
    padding: 90px 0;
}
.card{
}
.card img{}
.card:after{
    position: absolute;
    content:"";
    width:100%;
    height:368px;
    background: #0cb99d96;
    opacity:0;
    top:-100%;
    transition: all .5s ease;
}
.card:hover:after{
    top:0;
    opacity:1;
}
.card-body{}
.card-body h5{
    color: #506a85;
}
.card:hover .card-body h5{
    color:#00bc9c;
}
.card-body p{
    color: #8898aa;
}
.card-icon{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transition: .5s;
    opacity:0;
}
.card:hover .card-icon{
    color:#fff;
    bottom: 50%;
    opacity:1;
    transform: translateY(-50%);
}
/*work-with-us-section*/
.work-with-us-section{
    padding: 90px 0;
}

/*footer*/

footer{
    background: #2f4052;
    padding: 70px 0;
}
.footer-box{}
.footer-box h3{
    font-weight: 600;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-box p {
    color: #a3b1bf;
}
.footer-box img{
    margin-bottom: 20px;
}
.footer-box a{}
.more{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}
.more:hover{
    color:#00bc9c;
}
.more:focus{
    box-shadow:none;
}
.more i{
    font-size: 12px;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
.more:hover i{
    transform: translateX(20px);
}
.footer-box{}
.footer-box ul{}
.footer-box ul li{
    padding-right: 5px !important;
    padding-bottom: 5px;
    color: #a3b1bf;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.footer-box ul li a{}
.footer-box ul li a img{
    margin: 0;
}
li.nav-item.col-6.Latest-works img {
    position: relative;
}


.nav-item.col-6.Latest-works:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #00cb998f;
    top: 0;
    opacity: 1;
    
}
.nav-item.col-6.Latest-works:hover:after {
    opacity: 1;
}
.footer-box .list-unstyled{}
.footer-box .list-unstyled li{
}
.footer-box ul li:hover {
    color: #00cb99;
}
.footer-box .list-unstyled li i{
    padding-right: 10px;
}


.footer-box form{}
.footer-box form .input-group{
    background: #4e5c6c;
    padding: 6px 7px;
}
.footer-box form .input-group input{
    background: transparent;
    font-size: 13px;
    border: none;
    color: white;
}
.footer-box form .input-group-prepend{
}
.footer-box form .input-group-prepend button{
    margin-bottom: 0 !important;
    background: #00cb99;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;
    transition: all .5s ease;
    border-radius: 3px !important;
}
.footer-box form .input-group-prepend button:hover{
   background: #17a78b;
    
}
.footer-box form .input-group input::placeholder {
    color: #a3b1bf;
}
.form-control:focus {
    box-shadow:none !important;
}
.btn-primary:focus {
    box-shadow:none !important;
}
primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00ca98;
    border-color: #00ca98;
}
/*top-footer*/
.top-footer{
    background: #283645;
}
.top-footer p{
    margin: 0;
    color: #707e8c;
    font-size: 15px;
    font-weight: 600;
}
.top-footer ul{
}
.top-footer ul li{}
.top-footer ul li a{
    color: #707e8c;
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    position: relative;
}
.top-footer ul li a:after{
    position: absolute;
    content: "";
    width:6px;
    height:6px;
    top: 50%;
    left:-4px;
    background:#707e8c;
    border-radius: 50%;
    transform: translateY(-50%);
}
.top-footer ul li:first-child a:after{
    width:0;
    height:0;
}
.top-footer ul li a:hover{
    text-decoration: none;
    color: #00bc9c;
}
.top-arrow{
    position: fixed;
    background: #3c5065;
    color: #949ba2 !important;
    right: 8px;
    bottom: 6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}